{% extends 'layout.html' %}
{% block content %}
<div class="container py-4  ">

    {% for message in get_flashed_messages() %}
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <strong>{{ message }}</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor%}

    {% if name %}
    <h1>{{name}} Added in List </h1>
    {% else %}
    <h1>List of Users</h1>
    <br>
    <form action="" method="post">
        {{form.hidden_tag()}}

        {{form.name.label(
        class="form-label"
        )}}

        {{form.name(
        class="form-control"
        )}}
        {{form.email.label(
        class="form-label"
        )}}
        {{form.email(
        class="form-control"
        )}}
        {{form.favorite_color.label(
        class="form-label"
        )}}
        {{form.favorite_color(
        class="form-control",
        )}}
        {{form.submit(
        class="btn btn-outline-secondary my-4"
        )}}
    </form>
    {% endif %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">id</th>
                <th scope="col">Name</th>
                <th scope="col">Email</th>
                <th scope="col">Color</th>
                <th scope="col">Date</th>
            </tr>
        </thead>
        <tbody>
            {% for x in user%}
            <tr>
                <th scope="row">{{x.id}}</th>
                <td><a href="{{url_for('update_user', id=x.id)}}">{{x.name}}</a></td>
                <td>{{x.email}}</td>
                <td>{{x.favorite_color}}</td>
                <td>{{x.date_added}}</td>
            </tr>

            {% endfor%}
        </tbody>
    </table>
</div>
{% endblock %}